/* Establecer un margen superior para que no esté pegado al navbar */
body {
    margin-top: 60px; /* Ajusta este valor según la altura de tu navbar */
    margin-left: 20px; /* Agrega margen izquierdo para evitar que esté pegado al borde */
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Contenedor de la consola */
  .console-wrapper {
    display: flex;
    justify-content: flex-start; /* Alineación a la izquierda */
    width: 100%; /* La consola ocupa todo el ancho de la página */
    box-sizing: border-box;
    padding: 0 20px; /* Espacio a los lados */
  }
  
  /* Estilo de la consola */
  .console {
    font-family: 'Courier New', monospace;
    color: #af46f5;
    padding: 25px;
    border-radius: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: bold; /* Esto hace que el texto sea en negrita */
    width: 100%; /* Ancho completo */
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: flex-start;
    background-color: transparent; /* Elimina el fondo negro */
    box-shadow: none; /* Elimina el efecto de sombra */
  }
  
  /* Estilo del cursor */
  .cursor {
    display: inline-block;
    width: 2px;
    height: 1.4em;
    background-color: #3944d8;
    animation: blink 0.7s step-end infinite;
    margin-left: 2px; /* Deja un espacio entre el texto y el cursor */
  }
  
  /* Animación del parpadeo del cursor */
  @keyframes blink {
    50% {
      background-color: transparent;
    }
  }
  

  /* Media query for smaller screens */
@media (max-width: 768px) {
  body {
      margin-top: 30px; /* Reduce el margen superior en pantallas más pequeñas */
      margin-left: 10px; /* Reduce el margen izquierdo en pantallas más pequeñas */
  }

  .console-wrapper {
      padding: 0 10px; /* Reduce el espacio a los lados en pantallas más pequeñas */
  }

  .console {
      font-size: 16px; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
      padding: 15px; /* Reduce el relleno en pantallas más pequeñas */
  }

  .cursor {
      width: 1px; /* Reduce el ancho del cursor en pantallas más pequeñas */
      height: 1.2em; 
  }
}