.profile-image-wrapper {
  position: absolute;
  top: -25px; 
  left: -30px; 
  width: 238px; 
  height: 91px; 
  transform: rotate(-10deg); /* Tilt the image */
}

.profile-image {
  width: 70%;
  padding-left: 8%;
  padding-top: 5%;
  height: auto;
  object-fit: contain; /* Ensures the whole image fits */
}

.profile {
    padding: 20px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card {
    background-color: #2e1a47;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  
  .card-body {
    text-align: center;
    padding: 15px;
  }
  
  .card-title {
    text-align: center;
    font-size: 25px !important;
    margin: 0;
    font-size: 1.25rem;
    color: #977fd6;
  }
  
  .card-subtitle {
    margin-top: 5px;
    font-size: 1rem;
    color: #a384e6 !important;
  }
  
  .card-text {
    text-align: center;
    justify-content: start;
    margin-top: 10px;
    color:#977fd6;
  }
  
  .image-resize {
    margin-top: 10px;
    width: 100px;
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .title-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title-with-icon i {
    margin-right: 8px;
}

.no-dots {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.highlight-item {
  display: flex; /*icon and text in a row*/
  margin: 8px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #977fd6;
  color: #977fd6;
}

.highlight-item a {
  color: #c1adf3;
  text-decoration: none;
  align-self: flex-start; 
  margin-top: 5px;;
  margin-left: auto; 
  margin-right: 10px;
}

.highlight-item a:hover {
  color: #9c75e9;
}


.highlight-text {
  display: block;
  padding: 4px 0;
  color: #977fd6;
}

.highlight-icon {
  color: #977fd6;
  margin-bottom: 4px;
  margin-top: 3px;
  margin-right: 5px;
}

.title-with-icon{
  color:#977fd6;
}


.skill-item {
  display: flex;
  align-items: center;
  margin: 8px;
}

.skill-title{
  color:#977fd6;
}

.skill-text {
  color:#977fd6 !important;
  padding: 4px 8px;
  border-radius: 8px; 
  border: 1px solid; 
  display: flex;
  align-items: center;
}

.skill-icon {
    margin-right: 10px !important; 
}


.icon-colored {
  filter: sepia(0.7) saturate(3) hue-rotate(225deg) brightness(1.2) !important;
}

svg {
  filter: sepia(0.7) saturate(3) hue-rotate(225deg) brightness(1.2) !important;
}


.project-list {
  padding-left: 0;
  margin-top: 8px;
  list-style-type: none;
}

.project-list li {
  background-color: #f4eef7; /* White background */
  color:#977fd6;
  padding: 10px 15px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.project-list li:hover {
  background-color: #c0b0dd; 
}

.project-list li::before {
  content: "</>"; /* Custom bullet point */
  color: #8307bd; /* Purple */
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.project-link {
  display: block; /* Make it take full width */
  width: 100%; /* Full width of the card */
  text-align: center;
  padding: 10px;
  border: 2px solid #977fd6; 
  border-radius: 8px; /* Rounded corners */
  color: #977fd6; 
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.project-link:hover {
  background-color: #7f66bd; 
  color: #fff; /* White text on hover */
}

.project-properties{  
    font-size: 18px; 
    font-weight: bold; 
    color: #4a148c; 
    text-align: center; 
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
}
.project-properties-subheading{  
  font-size: 15px; 
  font-weight: bold; 
  color: #4a148c;
  text-align: center; 
  margin-bottom: 10px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
}

.section-line {
  width: 100%;
  height: 2px; /* Adjust thickness */
  background-color: #8307bd; /* Purple color */
  border: none;
  margin: 20px 0;
}


.contact-list {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

.contact-list li {
  margin-bottom: 12px;
  color: #977fd6;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.contact-list li:not(:last-child) {
  border-bottom: 1px solid #ddd; /* Adds line below each item except the last one */
}

.contact-list li strong {
  margin-right: 15px; /* Adds space between name and link */
}

.contact-list a {
  text-decoration: none;
  color: #977fd6;
  font-weight: 600;
  transition: color 0.3s ease;
  margin-left: 10px; /* Space between name and link */
}

.contact-list a:hover {
  color: rgb(115, 50, 177);
}

.contact-list i {
  margin-right: 10px; /* Space between icon and text */
}

.card-body h2 {
  font-size: 24px;
  font-weight: bold;
  color: #aa77ec; 
  margin-bottom: 10px; /* Add some space below the header */
}
.rounded-image {
  border-radius: 10px; 
}

.contact-image-wrapper {
  position: absolute;
  top: -30px; 
  left: -40px; 
  transform: rotate(-10deg); 
}

.contact-image {
  width: 40%;
  padding-left: 5%;
  padding-bottom: 15%;
  height: auto;
  object-fit: contain; 
}

.upper-right-image-wrapper {
  position: absolute;
  top: -20px; 
  right: 0; 
  width: 140px; 
  max-width: 100%; 
  height: auto;
  transform: rotate(15deg);
  pointer-events: none; 
}

.upper-right-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
}