.video-properties{
    width: 200px;
    height: auto;
}
.card-properties {
    /* background-color: #8586e2;  */
    background-color: #2e1a47;
    border-radius: 25px;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .text-color {
    color: #bba6f0;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5), 0 0 10px rgba(172, 160, 204, 0.8);
  }
  

  .p-properties{
    text-align: justify;

  }

/* #honorsCarousel {
  width: 100%; 
} */

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-carousel-img {
  object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(30%) sepia(50%) saturate(800%) hue-rotate(250deg); /* Adjust to get a nice purple */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  filter: invert(40%) sepia(70%) saturate(1000%) hue-rotate(250deg); /* Darker purple on hover */
}


.bordered-img {
  border-radius: 15px;
}

/* Adjust height for smaller screens */
@media (max-width: 768px) {
  .custom-carousel-img {
    height: 250px; /* Smaller height for mobile */
  }
}

.heading-color{
  color: #c295dd;
}

.research-links {
  padding-left: 0;
  margin-top: 20px;
}

.research-links p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.research-text {
  color: #64108b;
  font-size: 15px;
  margin-left: auto;
}


.link-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ece9ec;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.link-item:hover {
  background-color: #d7b0f0;
}

.link-item i {
  margin-right: 10px;
  font-size: 24px;
  color: #8307bd;
}

.link-item a {
  text-decoration: none;
  font-size: 16px;
  color: #9647e0;
  transition: color 0.3s;
}

.link-item a:hover {
  color: #c45be4;
}
